body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer {
  position: absolute;
  bottom: -80px;
  right: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  width: 45%;
}
.footer-left p {
  font-size: 14px;
  color: #bbb;
}

.footer-center .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer-center .footer-links li {
  font-size: 16px;
}

.footer-center .footer-links li a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-center .footer-links li a:hover {
  color: #ff5722;
}

.footer-item_wrapper {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-between;
}

.footer-right .social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer-right .social-links li a {
  color: #bbb;
  text-decoration: none;
  font-size: 24px; /* Adjusted size for better visibility */
  transition: color 0.3s ease;
}

.footer-right .social-links li a:hover {
  color: #ff5722;
}

/* dark theme */
body.dark-mode .footer {
  background-color: #fff;
  color: #000;
}
body.dark-mode .footer-left p,
body.dark-mode .footer-center .footer-links li a,
body.dark-mode .footer-right .social-links li a {
  color: #000;
}
body.dark-mode .footer-center .footer-links li a:hover,
body.dark-mode .footer-right .social-links li a:hover {
  color: #ff5722;
}

/* responsive 1220px */
@media only screen and (max-width: 1220px) {
  .footer-container {
    max-width: initial;
  }
  .footer {
    padding: 10px 20px;
  }
  .footer-center .footer-links li {
    font-size: 15px;
  }
  .footer-right .social-links li a {
    font-size: 22px;
  }

  .footer-left {
    width: 42%;
  }
  .footer-item_wrapper {
    width: 58%;
  }
}

/* responsive 991px */
@media only screen and (max-width: 991px) {
  .footer-left p {
    font-size: 12px;
  }
  .footer-center .footer-links li {
    font-size: 12px;
  }
  .footer-right .social-links li a {
    font-size: 20px;
  }

  .footer-left {
    width: 40%;
  }
  .footer-item_wrapper {
    width: 60%;
  }
}

/* responsive 767px */
@media only screen and (max-width: 767px) {
  .footer-left p {
    margin: 10px 0 0;
  }
  .footer-center .footer-links,
  .footer-right .social-links {
    gap: 12px;
  }
  .footer-right .social-links li a {
    font-size: 18px;
  }

  .footer-container {
    flex-direction: column-reverse;
  }
  .footer-left {
    width: 100%;
    justify-content: center;
  }
  .footer-item_wrapper {
    width: 100%;
  }
}

/* responsive 575px */
@media only screen and (max-width: 575px) {
  .footer-left p,
  .footer-center .footer-links li {
    font-size: 11px;
  }

  .footer {
    padding: 10px 15px;
  }
  .footer-center .footer-links,
  .footer-right .social-links {
    gap: 10px;
  }
}
